backend/step-functions/WinnerMachine.asl.json
{
  "StartAt": "CheckDynamoDB",
  "States": {
    "CheckDynamoDB": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:069765036595:function:CheckAuctionStatus",
      "Next": "IsAuctionOver"
    },
    "IsAuctionOver": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.isAuctionOver",
          "BooleanEquals": true,
          "Next": "ProcessWinner"
        }
      ],
      "Default": "SleepUntilEnd"
    },
    "SleepUntilEnd": {
      "Type": "Wait",
      "TimestampPath": "$.endTime",
      "Next": "CheckDynamoDB"
    },
    "ProcessWinner": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:069765036595:function:ProcessAuctionWinner",
      "End": true
    }
  }
}
